@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

@layer utilities {
  .nav {
    @apply relative cursor-pointer text-xl font-medium hover:text-secondary transition-all duration-500;
  }

  .nav::after {
    content: "";
    @apply bg-secondary h-[2px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute transition-all duration-500;
  }

  .nav:hover::after {
    @apply w-[100%];
  }

  .social-icon {
    @apply w-10 h-10 hover:scale-110 hover:-rotate-6 transition-transform duration-300;
  }

  .section {
    @apply relative w-full py-6 mx-auto px-[8%] mt-16;
  }

  .perspective-800 {
    perspective: 800px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .transform-card {
    transform: rotateY(calc(var(--offset) * 50deg))
      scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc(var(--abs-offset) * -30rem))
      translateX(calc(var(--direction) * -5rem));
  }

  .blur-filter {
    filter: blur(calc(var(--abs-offset) * 1rem));
  }

  .slider-button {
    @apply text-6xl absolute top-1/2 z-10 hover:opacity-60 transition-all duration-500;
  }

  .left {
    transform: translateX(-100%) translateY(-50%);
  }

  .right {
    @apply right-0;
    transform: translateX(100%) translateY(-50%);
  }

  .box-shadow {
    box-shadow: 20px 20px 30px #000000, -10px -10px 30px #000000;
  }

  .nav-shadow {
    box-shadow: 0px 10px 10px 0px #000000;
  }

  .offer-card {
    box-shadow: 0px 10px 20px #000000;
    background: linear-gradient(rgba(255, 255, 255, 0.101), transparent);
  }
}
